.sy{
    color: crimson;
    text-decoration: underline;
}

.ecleLogo {
    width: 200px;
    height: auto;
    padding-right: 50px;
}

#sy{
    width: 250px;
    display: inline-block;
}
#semester{
    width: 250px;
    display: inline-block;
}
#sch{
    width: 500px;
    display: inline-block;
}
.chartform{
    width:85%;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    margin-left: 5px;
}